<configuration>
	<include resource="org/springframework/boot/logging/logback/base.xml" />
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<layout>
			<Pattern>%X{CID} - %m%n</Pattern>
		</layout>
	</appender>

	<property name="FILE_LOGSTASH"
		value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}/}spring.log}.json" />
	<appender name="LOGSTASH"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder>
			<pattern>${FILE_LOG_PATTERN}</pattern>
		</encoder>
		<file>${FILE_LOGSTASH}</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>${FILE_LOGSTASH}.%i</fileNamePattern>
		</rollingPolicy>
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>10MB</MaxFileSize>
		</triggeringPolicy>
		<encoder class="net.logstash.logback.encoder.LogstashEncoder">
			<includeCallerInfo>true</includeCallerInfo>
		</encoder>
	</appender>

	<root level="INFO">
		<appender-ref ref="LOGSTASH" />
	</root>
</configuration>